*.pch
*.scc
*.obj
*.aps
*.opt
*.plg
*.pdb
*.idb
*.xls
*.smd
*.opd
*.gtd
*.tct
*.dxt
*.gtt
*.n3camera
*.n3fxbundle
*.n3fxpart
*.n3light
*.n3pmesh
*.n3shape
*.fxb
*.bmp
*.zip
*.rar
*.chm
*.doc
*.dsw
*.html
